<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinyibi.mapper.DatabaseInfoMapper">
  <resultMap id="BaseResultMap" type="com.xinyibi.pojo.DatabaseInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="upwd" jdbcType="VARCHAR" property="upwd" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="driver_class_name" jdbcType="VARCHAR" property="driverClassName" />
    <result column="driver_file_id" jdbcType="BIGINT" property="driverFileId" />
    <result column="database_type" jdbcType="VARCHAR" property="databaseType" />
    <result column="database_file_id" jdbcType="BIGINT" property="databaseFileId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="read" jdbcType="BIT" property="read" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, uname, upwd, url, driver_class_name, driver_file_id, database_type, database_file_id, 
    add_time, comment, read
  </sql>
  <select id="selectByExample" parameterType="com.xinyibi.pojo.DatabaseInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from database_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from database_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from database_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xinyibi.pojo.DatabaseInfoExample">
    delete from database_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xinyibi.pojo.DatabaseInfo">
    insert into database_info (id, name, uname, 
      upwd, url, driver_class_name, 
      driver_file_id, database_type, database_file_id, 
      add_time, comment, read
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{uname,jdbcType=VARCHAR}, 
      #{upwd,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{driverClassName,jdbcType=VARCHAR}, 
      #{driverFileId,jdbcType=BIGINT}, #{databaseType,jdbcType=VARCHAR}, #{databaseFileId,jdbcType=BIGINT}, 
      #{addTime,jdbcType=TIMESTAMP}, #{comment,jdbcType=VARCHAR}, #{read,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xinyibi.pojo.DatabaseInfo">
    insert into database_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="uname != null">
        uname,
      </if>
      <if test="upwd != null">
        upwd,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="driverClassName != null">
        driver_class_name,
      </if>
      <if test="driverFileId != null">
        driver_file_id,
      </if>
      <if test="databaseType != null">
        database_type,
      </if>
      <if test="databaseFileId != null">
        database_file_id,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="read != null">
        read,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upwd != null">
        #{upwd,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="driverClassName != null">
        #{driverClassName,jdbcType=VARCHAR},
      </if>
      <if test="driverFileId != null">
        #{driverFileId,jdbcType=BIGINT},
      </if>
      <if test="databaseType != null">
        #{databaseType,jdbcType=VARCHAR},
      </if>
      <if test="databaseFileId != null">
        #{databaseFileId,jdbcType=BIGINT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="read != null">
        #{read,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xinyibi.pojo.DatabaseInfoExample" resultType="java.lang.Long">
    select count(*) from database_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update database_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.uname != null">
        uname = #{record.uname,jdbcType=VARCHAR},
      </if>
      <if test="record.upwd != null">
        upwd = #{record.upwd,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.driverClassName != null">
        driver_class_name = #{record.driverClassName,jdbcType=VARCHAR},
      </if>
      <if test="record.driverFileId != null">
        driver_file_id = #{record.driverFileId,jdbcType=BIGINT},
      </if>
      <if test="record.databaseType != null">
        database_type = #{record.databaseType,jdbcType=VARCHAR},
      </if>
      <if test="record.databaseFileId != null">
        database_file_id = #{record.databaseFileId,jdbcType=BIGINT},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.read != null">
        read = #{record.read,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update database_info
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      uname = #{record.uname,jdbcType=VARCHAR},
      upwd = #{record.upwd,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      driver_class_name = #{record.driverClassName,jdbcType=VARCHAR},
      driver_file_id = #{record.driverFileId,jdbcType=BIGINT},
      database_type = #{record.databaseType,jdbcType=VARCHAR},
      database_file_id = #{record.databaseFileId,jdbcType=BIGINT},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      comment = #{record.comment,jdbcType=VARCHAR},
      read = #{record.read,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinyibi.pojo.DatabaseInfo">
    update database_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="upwd != null">
        upwd = #{upwd,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="driverClassName != null">
        driver_class_name = #{driverClassName,jdbcType=VARCHAR},
      </if>
      <if test="driverFileId != null">
        driver_file_id = #{driverFileId,jdbcType=BIGINT},
      </if>
      <if test="databaseType != null">
        database_type = #{databaseType,jdbcType=VARCHAR},
      </if>
      <if test="databaseFileId != null">
        database_file_id = #{databaseFileId,jdbcType=BIGINT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="read != null">
        read = #{read,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinyibi.pojo.DatabaseInfo">
    update database_info
    set name = #{name,jdbcType=VARCHAR},
      uname = #{uname,jdbcType=VARCHAR},
      upwd = #{upwd,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      driver_class_name = #{driverClassName,jdbcType=VARCHAR},
      driver_file_id = #{driverFileId,jdbcType=BIGINT},
      database_type = #{databaseType,jdbcType=VARCHAR},
      database_file_id = #{databaseFileId,jdbcType=BIGINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      read = #{read,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findByViewId" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT 
		db.id, db.name, db.uname, db.upwd, db.url, db.driver_class_name, 
		db.driver_file_id, db.database_type, db.database_file_id, 
    	db.add_time, db.comment
	FROM
		view_field v
	JOIN view_path_header h ON v.id = h.view_id
	JOIN data_table_info dt ON h.table_id = dt.id
	JOIN database_info db ON dt.db_id = db.id
	WHERE v.id = #{id}
  </select>
</mapper>